.landing {
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.header {
  padding: 5rem 0;

  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 7.5rem;
  }

  h1 {
    margin-left: 2.5rem;

    font-size: 3rem;

    display: inline;
  }
}

.download a {
  margin-right: 3rem;
}

.features {
  background-color: var(--bg-secondary);

  padding: 15rem;
}
