.landing {
	padding-top: 5rem;
}

.lead {
	padding-bottom: 10rem;

	@media screen and (max-width: 992px) {
		padding-bottom: 3rem;

		text-align: center;
	}
}

.logo {
	border-radius: 50%;
	width: 7.5rem;
}

.title {
	font-size: 5vh;
}

.description {
	font-size: 1.25rem;
}

.download {
	a {
		margin-right: 1.5rem;
	}

	@media screen and (max-width: 450px) {
		display: flex;

		justify-content: center;
	}
}

.phone {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.features {
	background-color: var(--bg-secondary);

	padding: 15rem 0;

	text-align: center;
}
